<div class="color">
    <mat-toolbar color='primary'>
        <button mat-mini-fab color='light'>
            <mat-icon (click)='goHome()'>keyboard_backspace</mat-icon>
        </button>
        <span class="example-fill-remaining-space"></span>   
        <span>Waldelivery - {{restaurante.nombre}}</span>
        <span class="example-fill-remaining-space"></span> 
        <button mat-mini-fab color='light'>
            <mat-icon>favorite</mat-icon>
        </button>
    </mat-toolbar>

    <img mat-card-image [src]='restaurante.imagen'  class="example-container">

    <div class="color2">
        <mat-list *ngFor="let i of comidas">
            <mat-card class="sizeCard">    
                <mat-card-header>
                <mat-card-title>{{i.nombre}}</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                <p>
                    Atencion: {{i.descripcion}}
                </p>
                </mat-card-content>
                <mat-card-actions align='end'>
                <button mat-button>Favoritos</button>
                </mat-card-actions>
                
            </mat-card>
        
        </mat-list>
    </div>  
    






    
        
        
  

</div>

