<div class="fondo">

    <mat-card class="sizeCard">    
        <mat-card-header>
        <mat-card-title class='titulo'><h1>Log In Magistral</h1></mat-card-title>
        <mat-card-subtitle class="subtitulo"><h2>Ingrese su id estimado</h2></mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
       
            <p>
                <mat-form-field>
                  <input matInput placeholder="ID" (keyup)=getValue($event)>
                </mat-form-field>
            </p>
           
              
      
            
        </mat-card-content>
        <mat-card-actions align='center'>
            <button mat-button (click)='logIn()'>Log In</button>
        </mat-card-actions>
        
    </mat-card>



</div>
