<mat-grid-list cols="4" >
    <mat-grid-tile *ngFor="let i of restaurantes">
      <mat-card class="sizeCard">
      
        <mat-card-header>
          <mat-card-title>{{i.name}}</mat-card-title>
          <mat-card-subtitle></mat-card-subtitle>
        </mat-card-header>
        <!--<img mat-card-image src={{this.appservice.imagenes[i.image]}}>-->
        <mat-card-content>
          <p>
            General Cost: {{i.price}}
        </p>
        <p>
            Alcohol: {{i.alcohol}}
        </p>
        <p>
            Smoking Area: {{i.smoking_area}}
        </p>
        </mat-card-content>
       
      </mat-card>
    </mat-grid-tile>
    
</mat-grid-list>
