<!--Tab Home Visualizacion de restaurantes-->
<mat-grid-list cols="4" >
    <mat-grid-tile *ngFor="let i of restaurantes">
      <mat-card class="sizeCard">
      
        <mat-card-header>
        <img mat-card-avatar [src]='i.avatar'>
          <mat-card-title>{{i.nombre}}</mat-card-title>
          <mat-card-subtitle>Sub Titulo</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]='i.imagen'>
        <mat-card-content>
          <p>
            Atencion: {{i.oferta}}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button (click)="goRestaurante(i)">Visitar</button>
          


          <button mat-button>Favoritos</button>
          
        </mat-card-actions>
        
      </mat-card>

    </mat-grid-tile>
    
</mat-grid-list>
