<!--Toolbar Principal-->
<mat-toolbar color='primary'>  
    <span>Waldelivery</span>
    <span class="example-fill-remaining-space"></span> 

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                <mat-icon>account_box</mat-icon>
            </mat-panel-title>
         
        </mat-expansion-panel-header>
        <p>Smoker: {{usuario.smoker}}</p>
        <p>ID: {{usuario.ID}}</p>
        
      
    </mat-expansion-panel>


    <button mat-mini-fab color='light' (click)='logout()'>
        <mat-icon>exit_to_app</mat-icon>
    </button>
</mat-toolbar>

<!--Tabs-->
<mat-tab-group color='primary'>
    <!--Tab1-->
    <mat-tab label="Home">
      <app-home></app-home>
    </mat-tab>    
     <!--Tab2-->
     <mat-tab label="Recomendados">
        <!--Listar Restaurantes-->
        <app-recomendado></app-recomendado>

      </mat-tab>
</mat-tab-group>






